{# templates/product_information/information.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
  Liste produits -
  {{ parent() }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
  <div class="col-lg-9">

    <div class="card mt-4">
      <div class="card-body">
        <h3 class="card-title"></h3>
        <h4>Liste produits</h4>
        <table border="1">
          <thead>
            <tr>
              <th>
                Nom du produit
              </th>
              <th>
                Dernière modification
              </th>
              <th>
                Portion
              </th>
            </tr>
          </thead>
          <tbody>
            {% for product in list_products %}
              <tr>
                <td>
                  {{ product.getProductName }}
                </td>
                <td>
                  {{ product.getLastModifiedDatetime|date('d-m-Y H:i') }}
                </td>
                <td>
                  {{ product.getServingSize }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.col-lg-9 -->
{% endblock %}
