{# templates/product_information/information.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
  Recherche produit -
  {{ parent() }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
  <div class="col-lg-9">

    <div class="card mt-4">
      {# <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt=""> #}
      <div class="card-body">
        <h3 class="card-title"></h3>
        <h4>Rechercher un produit</h4>
        {# Form #}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
      </div>
    </div>
  </div
  <!-- /.col-lg-9 -->
{% endblock %}
